<style>
    /* footer style */

.content-wrap{
    max-width: 900px;
    width: 80%;
    padding: 40px 0;
    margin:0 auto;
}
footer{
    background:#e3edf7;
    min-height: 300px;
}
footer .ui.center.aligned.header{
    text-transform: uppercase !important;
    letter-spacing: 4px !important;
    font-size: 35px !important;
    text-align: center !important;
    color: rgba(49, 35, 34, 0.5) !important;
    padding: 10px !important;
    margin: 15px 0 !important;
}
.social-media{
    margin-top: 30px !important;
    display: flex;
    justify-content: center;
}
.social-media a{
    display: flex;
    background: #ddd;
    height: 60px;
    width: 60px;
    margin: 0 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255,255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);  
    transition: transform 0.5s;          
}

.social-media a i{
    font-size: 25px;
    color: #777;
}
.social-media a:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255,255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255,255, 0.15),
                0.5px 0.5px 0px rgba(255, 255,255, 1),
                0px 12px 10px -10px rgba(0, 0, 0, 0.5)
    ;
    border: 1px solid rgba(0, 0, 0, 0.01);
    transform: translateY(2px);
}
</style>

<footer>
    <div class="ui container content-wrap">
        <div class="ui center aligned header">Follow Us On Social Media</div>
        <div class="social-media">
            <a href="https://web.facebook.com/profile.php?id=100007482271315"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/__faisal___00___/"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>